body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  padding: 3rem 1.5rem 1rem;
}

.navbar-item img {
  max-height: 3.5rem !important;
}

.column-header {
  display: block;
  background-color: #00853d;
}

.is-trtl-black {
  background-color: #212721 !important;
  color: #fff !important;
}

.is-trtl-green {
  background-color: #00853d !important;
  color: #fff !important;
}

.navbar-item {
  font-weight: bold !important;
}

.same-height {
  align-items: stretch;
  min-height: 262px;
}

.align-right {
  text-align: right;
}

.field-names {
  font-weight: 500;
}

.sorting,
.sorting_asc,
.sorting_desc {
  background: none !important;
}

#transactionPool,
#recentBlocks,
.table {
  font-size: 9pt;
  font-family: "Lucida Console", Monaco, monospace;
}

.dataTables_wrapper {
  width: 100% !important;
}

.dataTables_empty {
  text-align: center !important;
}

.badge[data-badge]::after {
  background-color: #212721 !important;
}

.chart {
  width: 100%;
  min-height: 242px;
}

a {
  color: #00853d;
}